## Importing required Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

## Get the Data

In [2]:
pd. set_option("display.max_columns", None)
pd. set_option("display.max_rows", None)
NBA=pd.read_csv(r'C:\Users\admin\Downloads\nba_2013.csv')

In [3]:
NBA.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,4,15,0.266667,62,126,0.492063,0.482,35,53,0.660,72,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,0,0,NaN,93,185,0.502703,0.503,79,136,0.581,142,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,0,0,NaN,143,275,0.520000,0.520,76,119,0.639,102,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,128,300,0.426667,336,711,0.472574,0.522,274,336,0.815,32,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,0,1,0.000000,136,248,0.548387,0.546,56,67,0.836,94,183,277,40,23,46,63,187,328,2013-2014,2013

## Exploring data

In [4]:
NBA.shape

(481, 31)

In [5]:
NBA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        481 non-null    object
 1   pos           481 non-null    object
 2   age           481 non-null    int64
 3   bref_team_id  481 non-null    object
 4   g             481 non-null    int64
 5   gs            481 non-null    int64
 6   mp            481 non-null    int64
 7   fg            481 non-null    int64
 8   fga           481 non-null    int64
 9   fg.           479 non-null    float64
 10  x3p           481 non-null    int64
 11  x3pa          481 non-null    int64
 12  x3p.          414 non-null    float64
 13  x2p           481 non-null    int64
 14  x2pa          481 non-null    int64
 15  x2p.          478 non-null    float64
 16  efg.          479 non-null    float64
 17  ft            481 non-null    int64
 18  fta           481 non-null    int64
 19  ft.           461 non-null    float64
 20  orb           481 non-null    int64
 21  drb           481 non-null    int64
 22  trb           481 non-null    int64
 23  ast           481 non-null    int64
 24  stl           481 non-null    int64
 25  blk           481 non-null    int64
 26  tov           481 non-null    int64
 27  pf            481 non-null    int64
 28  pts           481 non-null    int64
 29  season        481 non-null    object
 30  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [6]:
NBA.describe()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season_end
count,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,479.000000,481.000000,481.000000,414.000000,481.000000,481.000000,478.000000,479.000000,481.000000,481.000000,461.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.0
mean,26.509356,53.253638,25.571726,1237.386694,192.881497,424.463617,0.436436,39.613306,110.130977,0.285111,153.268191,314.332640,0.466947,0.480752,91.205821,120.642412,0.722419,55.810811,162.817048,218.627859,112.536383,39.280665,24.103950,71.862786,105.869023,516.582121,2013.0
std,4.198265,25.322711,29.658465,897.258840,171.832793,368.850833,0.098672,50.855639,132.751732,0.157633,147.223161,294.174554,0.104448,0.099552,103.667725,131.240639,0.160166,62.101191,145.348116,200.356507,131.019557,34.783590,30.875381,62.701690,71.213627,470.422228,0.0
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2013.0
25%,23.000000,32.000000,0.000000,388.000000,47.000000,110.000000,0.400500,0.000000,3.000000,0.234355,31.000000,67.000000,0.434719,0.451000,16.000000,22.000000,0.654000,12.000000,43.000000,55.000000,20.000000,9.000000,4.000000,21.000000,44.000000,115.000000,2013.0
50%,26.000000,61.000000,10.000000,1141.000000,146.000000,332.000000,0.438000,16.000000,48.000000,0.330976,110.000000,227.000000,0.474475,0.488000,53.000000,73.000000,0.751000,35.000000,135.000000,168.000000,65.000000,32.000000,14.000000,58.000000,104.000000,401.000000,2013.0
75%,29.000000,76.000000,54.000000,2016.000000,307.000000,672.000000,0.479500,68.000000,193.000000,0.375000,230.000000,459.000000,0.513729,0.526000,126.000000,179.000000,0.821000,73.000000,230.000000,310.000000,152.000000,60.000000,32.000000,108.000000,158.000000,821.000000,2013.0
max,39.000000,83.000000,82.000000,3122.000000,849.000000,1688.000000,1.000000,261.000000,615.000000,1.000000,706.000000,1408.000000,1.000000,1.000000,703.000000,805.000000,1.000000,440.000000,783.000000,1114.000000,721.000000,191.000000,219.000000,295.000000,273.000000,2593.000000,2013.0

## Cleaning the data

In [7]:
NBA.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [8]:
NBA["fg."].fillna(NBA["fg."].mean(),inplace=True)
NBA["x2p."].fillna(NBA["x2p."].mean(),inplace=True)
NBA["efg."].fillna(NBA["efg."].mean(),inplace=True)
NBA["x3p."].fillna(NBA["x3p."].mean(),inplace=True)
NBA["ft."].fillna(NBA["ft."].mean(),inplace=True)

In [9]:
NBA.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [10]:
NBA.shape

(481, 31)

In [11]:
NBA_numerical = NBA[['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.',
                     'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']]

## standardize the data

In [12]:
nba_standardization = NBA_numerical.apply(lambda x: (x - x.min()) / (x.std()))

In [13]:
X= NBA_numerical[['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']]
y=NBA_numerical['pts']

## Train Test Split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Choosing a K Value

In [15]:
for k in range(50):
    k_value = k + 1
    knn = KNeighborsRegressor(n_neighbors = k_value)
    knn.fit(X_train, y_train) 
    y_pred = knn.predict(X_test)
    print ("score:",format(metrics.r2_score(y_test, y_pred),'.4f'), "for k_value:", k_value)

score: 0.9502 for k_value: 1
score: 0.9671 for k_value: 2
score: 0.9767 for k_value: 3
score: 0.9752 for k_value: 4
score: 0.9751 for k_value: 5
score: 0.9728 for k_value: 6
score: 0.9782 for k_value: 7
score: 0.9757 for k_value: 8
score: 0.9770 for k_value: 9
score: 0.9753 for k_value: 10
score: 0.9743 for k_value: 11
score: 0.9755 for k_value: 12
score: 0.9736 for k_value: 13
score: 0.9725 for k_value: 14
score: 0.9695 for k_value: 15
score: 0.9667 for k_value: 16
score: 0.9660 for k_value: 17
score: 0.9637 for k_value: 18
score: 0.9628 for k_value: 19
score: 0.9617 for k_value: 20
score: 0.9591 for k_value: 21
score: 0.9571 for k_value: 22
score: 0.9567 for k_value: 23
score: 0.9550 for k_value: 24
score: 0.9542 for k_value: 25
score: 0.9524 for k_value: 26
score: 0.9510 for k_value: 27
score: 0.9505 for k_value: 28
score: 0.9500 for k_value: 29
score: 0.9487 for k_value: 30
score: 0.9465 for k_value: 31
score: 0.9459 for k_value: 32
score: 0.9440 for k_value: 33
score: 0.9426 for k_value: 34
score: 0.9413 for k_value: 35
score: 0.9397 for k_value: 36
score: 0.9394 for k_value: 37
score: 0.9381 for k_value: 38
score: 0.9367 for k_value: 39
score: 0.9353 for k_value: 40
score: 0.9349 for k_value: 41
score: 0.9332 for k_value: 42
score: 0.9333 for k_value: 43
score: 0.9330 for k_value: 44
score: 0.9321 for k_value: 45
score: 0.9310 for k_value: 46
score: 0.9304 for k_value: 47
score: 0.9284 for k_value: 48
score: 0.9272 for k_value: 49
score: 0.9257 for k_value: 50

## Prediction Using KNN

In [16]:
## k=8 as it give highest prediiction score as u seen above
knn = KNeighborsRegressor(n_neighbors = 8)
knn.fit(X_train, y_train) 
y_pred = knn.predict(X_test)
print ("Mean Squared Error is:", format(metrics.mean_squared_error(y_test, y_pred), '.7f'))
print ("score:", format(metrics.r2_score(y_test, y_pred),'.4f'))

Mean Squared Error is: 4655.3885309
score: 0.9757

In [17]:
Test_With_Predicted = pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred.tolist()})

Test_With_Predicted

    Actual Points  Predicted Points
0             436           323.500
1             717           694.375
2            1096          1052.000
3              19            10.250
4             988           940.875
5             416           387.625
6             261           286.125
7             703           692.375
8              83            82.000
9              25            19.875
10           1134          1035.125
11             66            55.750
12             99            81.375
13             26            30.500
14            472           404.625
15           2089          1796.875
16            136           107.375
17             16             9.625
18           1249          1215.625
19             78            96.750
20            202           238.375
21            153            95.875
22            856          1059.875
23           1070          1154.250
24            495           546.750
25            143           121.375
26              0             1.125
27           1144           948.625
28           1131          1233.500
29            944           785.625
30            149           170.125
31            477           428.750
32            622           583.375
33            213           313.000
34           1021          1011.500
35           1930          1852.625
36            341           337.375
37              0             4.125
38             22            16.625
39             32            28.375
40            572           682.625
41            485           432.125
42            546           604.625
43             15            11.250
44              2             1.875
45            265           314.125
46            435           434.500
47             97            74.375
48             98            96.125
49             73            65.000
50            173           190.375
51            696           621.625
52             36            36.125
53            929           956.625
54            715           810.250
55             25            25.875
56            384           335.875
57              0             1.125
58            520           434.625
59            124           171.750
60              2             1.875
61            417           437.250
62            770           713.625
63            346           358.750
64            132           187.375
65            760           780.875
66            499           596.625
67             43            41.750
68            483           464.750
69            178           162.750
70            970           988.625
71             12             8.625
72             48            31.000
73             40            36.625
74            343           305.500
75             73            89.125
76            525           404.625
77            197           223.000
78            838           680.750
79            891           881.000
80            592           590.750
81            895           968.375
82            530           589.500
83           1603          1460.875
84              0             2.750
85            508           387.250
86            100           115.875
87            272           321.875
88            303           361.000
89            181           151.250
90            701           652.625
91           1304          1324.250
92            107           136.625
93            510           629.500
94            624           588.375
95            225           193.000
96            350           351.375